/* --- CAROUSEL IMPROVEMENTS --- */
.swiper-slide {
    transform-style: preserve-3d;
}
.carousel-mask {
    -webkit-mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}
.swiper-pagination {
    bottom: auto !important;
    top: 0 !important; /* Position pagination at the very top of the swiper container */
}
.swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--dynamic-ui-color) !important;
    opacity: 1 !important;
}